@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,600&family=Roboto:wght@300;400;500;900&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

@font-face {

    font-family: 'titleFont';
  
    src: url('./fonts/Belgiano Serif 2.ttf') format('truetype'),
  
      url('./fonts/Belgiano Serif 2.otf') format('opentype');  
  }

:root{
    --font-color: rgb(240, 240, 240);
    --padding: 32px;
}

body {
    background-color: black;
    color: var(--font-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    flex: 1;
    padding: var(--padding);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "title socials"
    "projects .";
    max-width: 1200px;
    gap: 20px;
}

.socials {
    grid-area: socials;
    justify-self: end;
    display: flex;
    gap: 10px;
}

.title {
    grid-area: title;

}

.title h1, .title h2{
    font-family: 'titleFont', serif;
    font-size: 2.5em;
}

.title h2 {
    margin-left: 50px;
}

#projects {
    grid-area: projects;
    align-self: flex-end;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 30px;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--font-color);
    justify-content: space-between;
    max-width: 300px;
    font-size: 1.2rem;  
    cursor: pointer;  
}

.project div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cancel-btn {
    width: 3rem;
    border: none;
    background: none;
    transform: translate(0%, -160%);
    fill: var(--font-color);
    cursor: pointer;
}

.card a {
    color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: underline;
}

.card a svg{
    width: 25px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.card h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

.card-info .techs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.6rem;
}

.card-title .links {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-title div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.card-img {
    margin-top: 30px;
    border-radius: 10px;
}

/* Card Animation */
.card {
    position: absolute;
    background-color: var(--font-color);
    color: rgb(27, 27, 27);
    padding: var(--padding);
    top: 110vh;
    left: 50%; 
    border-radius: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translate(-50%);
    visibility: hidden;
    transition:visibility 1s ease-in-out, transform 1s ease-in-out;
}

.move {
    transform: translate(-50%, calc(-50% - 60vh));
    visibility: visible;
}

@media screen and (max-width: 1000px) {
    .card-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .card-img {
        margin-top: 15px;
    }

    .card {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: 1.1rem;
    }

    .container {
        grid-template-areas: 
        "title"
        "projects"
        "socials";
    }

    .card {
        padding: 16px;
    }

    .card p{
        font-size: 1rem;
    }

    .cancel-btn {
        transform: translate(0%, 0%);
        fill: rgb(124, 124, 124);
        width: 2rem;
        align-self: flex-start;
    }

    .card-title div{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    .card-title h3{
        font-size: 1.4rem;
    }

    .title h1, .title h2 {
        font-size: 1.4rem;
    }

    .title h2 {
        margin-left: 0;
    }

    .socials{
        justify-self: start;
    }
    
}